test.py
test_compare.sh
*.jpg
*.jpeg
*.png
*.JPG
log.txt
log2.txt
compare.py
*.pyc
*.meta
*.ckpt*
models/inception_resnet_v2.py
models/nn2.py
models/nn3.py
models/nn4.py
models/nn4_small2_v1.py
facenet.py
facenet_full.py
test.pkl
test_johnson.pkl